name: Go CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.5'

    - name: Install dependencies
      run: |
        cd task_manager_with_clean_architecture
        go mod download

    - name: Run unit tests
      run: |
        cd Test
        go test ./... -v
